body {
  background-color: grey;
}

p {
  margin: 10px;
  padding: 5px;
  text-align: center;
  font-size: 45px;
  font-family: Arial;
}

#cabecera {
  border-style: solid;
  border-width: 2px;
  padding: 8px;
}
