body {
  background-color:  #aca1a1;
}

p {
  margin: 10px;
  padding: 5px;
  text-align: center;
  font-size: 45px;
  font-family: "Times New Roman";
}

#seccion {
  border-width: 2px;
  border-style: solid;
  background-color: white;
}

#pie_pagina {
  border-top-width: 5px;
  border-top-style: solid;
  padding: 5px;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;

}

#cabecera {
  border-style: solid;
  border-width: 2px;
  padding: 8px;
}

img {
  padding: 5px;
}
